
DISCORD_BOT_TOKEN=
SENTRY_AUTH_TOKEN=
BOT_NAME=Whatever
ANTHROPIC_API_KEY=
# optional - if you only want to respond to a specific server
# DISCORD_SERVER_ID=
# optional - these are for auto-investigating issues using Sentry's 'seer' llm bot
# DISCORD_WATCH_CHANNELS=channel1_int_id,channel2_int_id
# DISCORD_RESULTS_CHANNEL_ID=channel3_int_id
# BOT_USER_ID=the_bots_own_user_id
